extends layout

block content

    div.title About Us

    div.main-img

    div.title-mobile About Us

    div.copy

        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

    div.brochure-container
        a(href="/site/assets/static/about/PELA_Brochure.pdf", target="_blank")
            div.brochure-btn BROCHURE
