extends layout

block content

    div.title Contact

    div.main-img
        img(src="/site/assets/static/contact/main.png")


    div.title-mobile Contact


    div.info-container

        div.block
            div.heading GENERAL INQUIRIES
            div
                a(href="mailto:mail@peladesign.net", target="_top") mail@peladesign.net

        div.block
            div.heading CONTACT
            div.name Liling Tien, ASLA
            div
                a(href="mailto:liling@peladesign.net", target="_top") liling@peladesign.net

        div.block.directions
            a(href="https://www.google.com/maps/place/P.E.L.A.+Design,+Inc.+Landscape+Architects+(PELA)/@39.3853682,-76.6095784,17z/data=!3m1!4b1!4m5!3m4!1s0x89c80f9761a9bdb1:0xe3bf2f711fab79d9!8m2!3d39.3853641!4d-76.6073844", target="_blank") Map Directions



    div.map-container

        div.map-img
            a(href="https://www.google.com/maps/place/P.E.L.A.+Design,+Inc.+Landscape+Architects+(PELA)/@39.3853682,-76.6095784,17z/data=!3m1!4b1!4m5!3m4!1s0x89c80f9761a9bdb1:0xe3bf2f711fab79d9!8m2!3d39.3853641!4d-76.6073844", target="_blank")
                img(src="/site/assets/static/contact/map.png")

        div.info
            div 7402 York Road, Suite 201
            div Baltimore, MD 21204
            div T: 410.296.3990
            div F: 410.296.3898
