body
{
    margin: 15px;
    padding: 0;

}

nav
{
    float: right;
    margin-top: 15px;
}

nav a
{
    padding: 5px;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

table, td, th
{
    vertical-align: top;
    border: 1px dotted grey;
    margin-bottom: 20px;
}

td, th
{
    padding: 5px;
}

input[type=text]
{
    min-width: 250px;
}

.image-component
{
    display: inline-block;
    margin: 5px;
}

.image-component img
{
    width: 200px;
    min-height: 110px;
    background: grey;
    display: block;
    border: 1px solid grey;
}

.image-component .pos-select
{
    display: block;
}

.image-component input
{
    display: block;
}
