extends ../layout



block content

    script.
        var types = !{JSON.stringify(types)}

    h1 Add Project

    form(method="post", action="/admin/projects/add", enctype="multipart/form-data")
        table
            tr
                td Active
                td
                    input(type="checkbox", name="active", checked)
            tr
                td Title
                td
                    input(type="text", name="title")

            tr
                td Location
                td
                    input(type="text", name="location")

            tr
                td Description
                td
                    textarea(name="description")

            tr
                td
                    div Types
                    button(type="button", onclick="addType()").add-type-btn Add +
                td.types-node

            tr
                td
                    div Images
                    button(type="button", onclick="addImage()").add-img-btn Add +
                td.images-node


        input(type="submit" value="Submit")

